
spark_test/.idea/

.DS_Store

spark_test/resources/

spark_test/target/

spark_test/src/main/scala/org/huichuan/pypsark/.ipynb_checkpoints/

spark_test/src/main/scala/org/huichuan/models/.ipynb_checkpoints/

spark_test/src/main/scala/org/huichuan/rank_model/.ipynb_checkpoints/

spark_test/src/main/scala/org/huichuan/recall_model/.ipynb_checkpoints/
